<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Streaming Server</title>

<link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

<link href="vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">

<link href="css/sb-admin.css" rel="stylesheet">
<link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/vendor/datatables/jquery.dataTables.js"></script>
<script src="js/sb-admin.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/transponder_manager.js"></script>
<style type="text/css">
	#transponder_manager{
		background-color: #a8e9ff;
	}
	.tr-link:hover {
    	cursor: pointer;
    	background-color: #007bff;
	}
	.tr-in{
   		background-color: #a8e9ff;;
	}
	.table-head{padding-right:16px; color:#000;height:auto;width: 100%;margin-top: -4px;}
    .table-body{width:100%; height:600px;overflow-y:scroll;}
</style>

</head>

<body class="fixed-nav" id="page-top">
	<!-- Navigation-->

	<div th:include="common/menu::content"></div>

	<div class="content-wrapper">
		<div class="container-fluid">
			<div class="card mb-3" >
				<div class="card-header">Manage Transponder</div>
				<div class="card-body" style="padding:0">
					<!-- <div class="table-responsive"> -->
						<div class="row" style="margin: 0">
							<div class="col-md-2 col-xs-12" style="margin-top:4px">
								<label>
									<select class="form-control formcontrol-sm" id="sat">
									</select>
								</label>
							</div> 
							<div class="col-sm-4 col-md-2 col-xs-12" style="margin-top:4px;">
								<input type="search" class="form-control formcontrol-sm" id="key_word" style="display: inline-block;width: auto" 
								placeholder="Search freq">
							</div>
							<div class="col-sm-4  col-md-8 col-xs-12"  style="height:50px">
								<div style="line-height:50px;float:right;">
									<a id="edit_tp" style="cursor:pointer" class="col-sm-4 col-md-4 col-xs-4" title="Edit">
										<i class="fa fa-pencil-square-o " style="color:#007bff;line-height: 50px;font-size: 1.5em;" aria-hidden="true" ></i>
									</a>
									<a id="add_tp" style="cursor:pointer" class="col-sm-4 col-md-4 col-xs-4" title="Add">
										<i class="fa fa-plus-circle " style="color:#007bff;line-height: 50px;font-size: 1.5em;" aria-hidden="true"></i>
									</a>
									<a id="delete_tp" style="cursor:pointer" class="col-sm-4 col-md-4 col-xs-4" title="Delete">
										<i class="fa fa-trash-o " style="color:#007bff;line-height: 50px;font-size: 1.5em;" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>
						<!-- <div class="row" id="table" style="overflow-y: auto;margin: 0"> -->
						<div class="table-head">
							<table class="table table-bordered" id="dataTable" style="margin: 0px;">
								<thead>
									<tr>
										<th width="5%"><input type="checkbox" id="check_all"/></th>
										<th width="10%">ID</th>
										<th width="15%">Freq</th>
										<th width="20%">Symbol Rate</th>
										<th width="20%">Polarization</th>
										<th width="10%">FEC</th>
									</tr>
								</thead>
							</table>
						</div>
						<div class="table-body">
							<table class="table table-bordered" id="dataTable">
								<tbody id="transponder_list">
								</tbody>
							</table>
						</div>
						<!-- </div> -->
					<!-- </div> -->
				</div>
			</div>
			<div class="row" style="float: left;margin: 0;display: flex;">
				<div style="padding:5px">
					<span >Showing <span id="first"></span> to <span id="last"></span> of <span id="total"></span>entries</span>
				</div>
			</div>
			<div class="row" style="float: right;">
				<div style="padding:5px">
					<select class="form-control formcontrol-sm" id="page_size" style="display: inline-block;width: 75px">
						<option>10</option>
						<option>15</option>
						<option>20</option>
						<option>50</option>
						<option>100</option>
					</select>
				</div>
				
				<div class="col-sm-12 col-md-7" style="padding:5px">
					<ul class="pagination">

					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade bs-example-modal-lg" id="tp_modal" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-llg" >
			<div class="modal-content" >
				<div class="modal-header">
					<h5 class="modal-title" id="myModalLabel">Add Transponder</h5>
				</div>
				<div class="modal-body" >
					<div class="card mb-3">
						<div class="card-body">
							<div class="form-group row" style="display:none">
								<label class="col-md-3 col-form-label">Id</label>
								<div class="col-md-9">
									<input class="form-control" type="number" id="tp_id" placeholder="input Transponder id" 
									onKeypress="return (/[\d\.]/.test(String.fromCharCode(event.keyCode)))"
									/>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 col-form-label">Frequency</label>
								<div class="col-md-9">
									<input class="form-control" type="number" id="tp_freq" placeholder="input Transponder frequency"
									onKeypress="return (/[\d\.]/.test(String.fromCharCode(event.keyCode)))" onkeyup="value=value.replace(/^|[^\d]+/g,'')"
									/>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 col-form-label">Symbol Rate</label>
								<div class="col-md-9">
									<input class="form-control" type="number" id="tp_symbol" placeholder="input Transponder Symbol rate"
									onKeypress="return (/[\d\.]/.test(String.fromCharCode(event.keyCode)))" onkeyup="value=value.replace(/^|[^\d]+/g,'')"
									/>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 col-form-label">Polarization</label>
								<div class="col-md-9">
									<select class="form-control" id="tp_pol"></select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 col-form-label">FEC</label>
								<div class="col-md-9">
									<select class="form-control" id="tp_fec"></select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" id="btn_cancel">Close</button>
					<button class="btn btn-primary" id="btn_ok">Save</button>
				</div>
			</div>
		</div>
	</div>
	

	<div th:include="common/logout::content"></div>
</body>

</html>
