<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Streaming Server</title>

<link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet"> 
<link href="vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">
<link href="css/sb-admin.css" rel="stylesheet">
<link rel="stylesheet" href="css/load5.css">
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/datatables/jquery.dataTables.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/version_log.js"></script> 

<style type="text/css">
	.tr-link:hover {
    	cursor: pointer;
    	background-color: #007bff;
	}
	.tr-in{
   		background-color: #a8e9ff;;
	}
	.table-head{padding-right:16px; color:#000;height:auto;width: 100%;}
    .table-body{width:100%; height:600px;overflow-y:scroll;}
</style>

</head>

<body class="fixed-nav" id="page-top">
	<!-- Navigation-->

	<div th:include="common/menu::content"></div>

	<div class="content-wrapper">
		<div class="container-fluid">
			<div class="card mb-3">
				<div class="card-header">
					Version History
				</div>
				<div class="card-body" style="padding:0;overflow: auto">
					<table class="table table-bordered" id="dataTable" style="margin: 0px;">
						<thead>
							<tr>
								<th>Version</th>
								<th>Date</th>
								<th>Describe</th>
							</tr>
						</thead>
						<tbody id="version_list">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	<div th:include="common/logout::content"></div>
</body>

</html>
