<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fa fa-angle-up"></i>
	</a>
	<!-- Logout Modal-->
	<div class="modal fade" id="public_modal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<!-- <h5 class="modal-title" id="title"></h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span id="close_modal" aria-hidden="true" style="display: none">×</span>
					</button> -->
				</div>
				<div class="modal-body" style="text-align: center;" id="content">
						
				</div>
			
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal" id="cancel" style="display: none">Cancel</button>
					<button class="btn btn-primary" id="ok" style="display: none">OK</button>
					<button class="btn btn-primary" id="logout">Logout</button>
				</div>
			</div>
		</div>
	</div>
</div>
</html>